
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Sayfa Bulunamadı</title>
  <link rel="stylesheet" href="~/skydash/vendors/feather/feather.css">
  <link rel="stylesheet" href="~/skydash/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="~/skydash/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="~/skydash/css/vertical-layout-light/style.css">
  <link rel="shortcut icon" href="~/skydash/images/favicon.png" />
</head>

<body class="bg-dark">
<div class="container d-flex justify-content-center align-items-center" style="height:100vh;width:100%;">
    <div class="d-flex justify-content center align items-center flex-column">
            <h1 class="display-1 mb-0 text-white" style="font-size:140px;">404</h1>
            <h3 class="font-weight-light text-white">Aradığın sayfa bulunamadı!</h3>
            <a href="/Default/" class="text-white"> </>Anasayfaya Dön</a>
    </div>
</div>
</body>

</html>
