<div class="navbar-inner">
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard/">
                    <i class="ni ni-atom text-primary"></i>
                    <span class="nav-link-text">Anasayfa</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register.html">
                    <i class="ni ni-settings-gear-65 text-pink"></i>
                    <span class="nav-link-text">Ayarlar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/About/">
                    <i class="ni ni-spaceship text-orange"></i>
                    <span class="nav-link-text">Hakkımda</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Service/Index/">
                    <i class="ni ni-bulb-61 text-primary"></i>
                    <span class="nav-link-text">Hizmetlerim</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Skill/">
                    <i class="ni ni-check-bold text-yellow"></i>
                    <span class="nav-link-text">Yetenekler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Portfolio/">
                    <i class="ni ni-bullet-list-67 text-default"></i>
                    <span class="nav-link-text">Projeler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Experience/Index">
                    <i class="ni ni-key-25 text-info"></i>
                    <span class="nav-link-text">Deneyimlerim</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register.html">
                    <i class="ni ni-single-02 text-pink"></i>
                    <span class="nav-link-text">Referanslar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register.html">
                    <i class="ni ni-sound-wave text-pink"></i>
                    <span class="nav-link-text">İstatistikler</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="upgrade.html">
                    <i class="ni ni-email-83 text-dark"></i>
                    <span class="nav-link-text">Gelen Mesaj</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger fw-bold" href="upgrade.html">
                    <i class="ni ni-button-power"></i>
                    <span class="nav-link-text">Oturumu Kapat</span>
                </a>
            </li>
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
    </div>
</div>